
.advantages {
  @extend %section;
  padding-bottom: 0;

  &__list {
    @extend %list;
    display: flex;
  }
  
  &__content:not(:first-child) {
    margin-left: 30px;
  }

  &__box {
    display: flex;
    width: 270px;
    height: 120px;
    background: $teamBGC;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
  }

  &__description {
    width: 270px;
    height: 130px;
    padding-top: 30px;
  }

  &__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    color: $lowTextColor;
    font-size: 14px;
    line-height: 1.7;
  }
}











