.footer {
  padding: 60px 0;
  color: $accentColor;
  background-color: $heroFooterColor;

  &__container {
    @extend %container;
    display: flex;
    align-items: baseline;
  }
}

.adress {
  margin-right: 70px;

  &__logo {
    color: $accentColor;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
  }

  &__box {
    margin-top: 20px;
  }

  &__list {
    @extend %list;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__map {
    @extend %adress;
    color: $accentColor;
  }
  
  &__link {
    @extend %adress;
  }
}

.subscribe {
  &__title {
    color: $accentColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    margin-bottom: 20px;
  }
  
  &__list {
    @extend %list;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__item {
    margin-bottom: 9px;
  
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
  
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
  
    width: 44px;
    height: 44px;
    border-radius: 50%;
  
    transition: background-color $timingFunction;
  
    &:hover,
    &:focus {
      background-color: $borderUndericon;
    }
  }
  
  &__icon {
    fill: $accentColor;
    transition: fill $timingFunction;
  }
}

.action-form {
  position: relative;
  width: 570px;
  height: 86px;
  margin-left: auto;

  &__field {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  
    color: $accentColor;
  }
  
  &__label {
    margin-bottom: 20px;
  }
  
  &__mail {
    width: 358px;
    height: 50px;
    padding: 15px 0 15px 16px;
    background-color: $heroFooterColor;
    color: rgba(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    cursor: pointer;
    transition: border $timingFunction;
  
    &::placeholder {
      font-size: 16px;
      line-height: 1.25;
      color: rgba(255, 255, 255, 0.6);
    }
  
    &:hover,
    &:focus {
      border: 1px solid rgba(255, 255, 255);
    }
  
    &:not(:placeholder-shown):required:valid {
      border-color: #4caf50;
    }
  
    &:not(:placeholder-shown):required:invalid {
      border-color: #f44336;
    }
  }
  
  &__button {
    display: flex;
    position: absolute;
    align-items: center;
    text-align: center;
    cursor: pointer;
    bottom: 0;
    right: 0;
  
    height: 50px;
    padding: 10px 28px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: $accentColor;
    background-color: $accentBGC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px;
  
    transition: background-color $timingFunction;
  
    &:hover,
    &:focus {
      background-color: $buttonHover;
    }
  
    &::after {
      content: '';
      display: inline-block;
  
      width: 24px;
      height: 24px;
      background-image: url(../images/modal-theme-icons/icon-send.svg);
      background-size: contain;
      margin-left: 10px;
  
      transform: translate(0, 0) scale(1);
      transition: transform $timingFunction;
    }
  
    &:hover::after,
    &:focus::after {
      animation: changeIconPosition 2000ms ease;
    }
  }
}


