.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    width: 100%;
    height: 400px;
    margin: 0 auto;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-image:
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/hero/hero-mobile.jpg);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image:
                linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../../images/hero/hero-mobile-2x.jpg);
    }

    &__container {  
    text-align: center;
    padding: 0;
  }

  &__title {
    display: block;
    margin: 0;
    width: 360px;
    margin-bottom: 30px;

    color: $accentColor;
    font-weight: 900;
    font-size: 25px;
    line-height: 1.62;
    text-transform: uppercase;
    text-align: center;
  }

  &__accent-word {
    animation-name: changeColor;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10000ms;
    animation-direction: normal;
  }

  &__button {
    @extend %button;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;

    letter-spacing: 0.06em;
    padding: 10px 32px;
    padding-left: 0;
    color: $accentColor;
    background-color: $accentBGC;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    transition: background-color $timingFunction;

    &:hover,
    &:focus {
      background-color: $buttonHover;
    }

    &::before {
      content: '';
      margin: 3px 10px 0;

      background-image: url(../images/modal-theme-icons/icon-send.svg);
      width: 24px;
      height: 24px;
      background-size: contain;
      transform: translate(0, 0) scale(1);
      transition: transform $timingFunction;
    }

    &:hover::before,
    &:focus::before {
      animation: changeIconPosition 2000ms ease;
    }
  }
}

@media screen and (min-width: 768px) {
    .hero {
            max-width: 768px;
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../../images/hero/hero-tablet.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image:
                linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../../images/hero/hero-tablet-2x.jpg);
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1600px;
        height: 600px;

        background-image:
                linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../../images/hero/hero-desc.jpg);
        
            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image:
                    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../../images/hero/hero-desc-2x.jpg);
            }

        &__container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          padding: 0 15px;
          margin: 0 auto;                
        }

        &__title {
            width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }
    }
}

