$mainTextColor: #212121;
$lowTextColor: #757575;
$accentBGC: #2196f3;
$buttonHover: #188ce8;
$accentColor: #ffffff;
$teamBGC: #f5f4fa;
$heroFooterColor: #2f303a;
$headerTopCollor: #c4c4c4;
$borderJobIcon: #eeeeee;
$borderHeader: #ececec;
$borderUndericon: #2196f3;
$actionPortfolioText: #2196f3e6;
$iconClient: #afb1b8;

$timingFunction: 500ms cubic-bezier(0.4, 0, 0.2, 1);
